.vs-rutube-popup {
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.vs-rutube-close{
    position:absolute;
    top:30px;
    right:30px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border:1px solid transparent;
    transition:background-color 0.4s ease-out;
    cursor: pointer;
}
.vs-rutube-close:hover{
    background-color: rgba(255,255,255,0.6)
}
.vs-rutube-close::after,
.vs-rutube-close::before{
    position:absolute;
    top:18px;
    right:9px;
    background:#cecece;
    width:20px;
    height:2px;
    content: '';
    transition:all 0.4s ease-out;
}
.vs-rutube-close:hover::after,
.vs-rutube-close:hover::before {
    background:#d30533;
}
.vs-rutube-close:after {
    transform: rotate(-45deg);
}
.vs-rutube-close:before {
    transform: rotate(45deg);
}
.vs-rutube-video {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vs-rutube-hide {
    display: none;
}